

.btnIcons{
    background-color: #0061a9;
    border-radius: 4px;
    color: white;
    width: 100%;
    margin: 0.5em;
    
    }
 
    .btnIcons{
        padding: 1em;
    }
    
    .botones button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    
    .carIn{
        margin-top: 0.5em;
    }
    
    .espacio{
        margin-top: 1.5em;
    }
    
    .newr{
     margin-top: 2em;
     margin-bottom: 2em;
    }
    
    .fomR{
        margin: 2em;
    }
    
    .btn2{
        background-color: #0061a9;
        color: white;
        width: 100%;
        margin-top: 3em;
    }

    .btnIcons2{
        background-color: white;
        color: #0061a9;
        width: 100%;
        margin: 0.5em;
      
    }

    .btnIcons3{
        background-color: white;
        color: black;
        border-radius: 4px;
        width: 100%;
        margin: 0.5em;
      
    }

    .btnIcons4{
        background-color: white;
        color: red;
        width: 100%;
        margin: 0.5em;
      
    }


    .btnIcons{
        background-color: #0061a9;
        border-radius: 4px;
        color: white;
        width: 100%;
        margin: 0.5em;
        
        }
    
     
    
    
        .btnIcons{
            padding: 1em;
        }
        
        .botones button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          }
        
        .carIn{
            margin-top: 0.5em;
        }
        
        .espacio{
            margin-top: 1.5em;
        }
        
        .newr{
         margin-top: 2em;
         margin-bottom: 2em;
        }
        
        .fomR{
            margin: 2em;
        }
        
        .btn2{
            background-color: #0061a9;
            color: white;
            width: 100%;
            margin-top: 3em;
        }
    
        .btnIcons2{
            background-color: white;
            color: #0061a9;
            width: 100%;
            margin: 0.5em;
          
        }
    
        .btnIcons3{
            background-color: white;
            color: black;
            border-radius: 4px;
            width: 100%;
            margin: 0.5em;
          
        }
    
        .btnIcons4{
            background-color: white;
            color: red;
            width: 100%;
            margin: 0.5em;
          
        }
    
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
        
        
          #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
          }
          
          #customers th:nth-child(even){background-color: #ffffff;}
          
          #customers th:hover {background-color: #ddd;}
        
          
          #customers td {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #f2f2f2;
            color: rgb(39, 39, 39);
          }
    
        .mat-raised-button {
            cursor: pointer;
            border-radius: 16px;
            transition-duration: 0.4s;
            padding: 10px 7px;
            float: left;
            border:2px #1d74ca;
            color:#1d1c1c
        }
    

        .fondo{
            background-color: #0061a9;
        }